<div class="footer">
    <div class="footer-c-1">
        <h3>About LAPO</h3>
        <p>
            <a href="https://www.lapo-nigeria.org/about-us">About Us</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/about/our-impact">Our Impact</a>
        </p>
        <p>
            <a href="#">Security Center</a>
        </p>
        <p>
            <a href="#">Find a Branch</a>
        </p>
        <p>
            <a href="#">Careers</a>
        </p>
    </div>
    <div class="footer-c-2">
        <h3>Digital Services</h3>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.ofss.lapobank">Internet Banking</a>
        </p>
        <p>
            <a href="https://sme.lapo-nigeria.org">SME Online</a>
        </p>
        <p>
            <a href="https://ps.lapo-nigeria.org">Public Sector Online</a>
        </p>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.ofss.pcash">PCash</a>
        </p>
    </div>
    <div class="footer-c-3">
        <h3>Products</h3>
        <p>
            <a href="https://www.lapo-nigeria.org/loans/regular">Regular Loan</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/loans/sme">SME Loan</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/loans/education">Educational Loan</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/loans/agric">Agricultural Loan</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/savings/regular">Regular Savings</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/savings/my-pikin">My Pikin Savings</a>
        </p>
    </div>
    <div class="footer-c-4">
        <h3>Quick Links</h3>
        <p>
            <a href="https://www.lapo-nigeria.org/customer-services">Customer Service</a>
        </p>
        <p>
            <a href="#">News</a>
        </p>
        <p>
            <a href="#">Reports</a>
        </p>
        <p>
            <a href="#">Gallery</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/Whistleblow">Whistleblowing Policy</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/lapo-privacy-policy">Privacy Policy</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/bvn-consent-terms">BVN Consent</a>
        </p>
        <p>
            <a href="https://www.lapo-nigeria.org/lapo-logo">Term LAPO Logo</a>
        </p>
    </div>
    <div class="footer-c-4">
        <h3>Connect</h3>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.ofss.lapobank"><img src="assets/images/1664287128google-play-store-logo-png.webp" width="130" /></a>
        </p>
        <!-- <p>
            <a href="javascript:void(0);"><img src="assets/images/appleImage.png" width="135" /></a>
        </p> -->
    </div>
</div>

<div class="footer-1">
    <div>
        <p>
            <span>Licensed by the Central Bank of Nigeria.</span>
        </p>
    </div>
    <div>
        <p>
            © 2024 LAPO Microfinance Bank, Nigeria.
        </p>
    </div>
</div>