<div class="Loanchart-title">
    <h2>Change password</h2>
</div>

<!-- <div class="Loanchart-chatAcct">

</div> -->

<div class="loan-list">
    <div>
        <!-- <h2 style="color: #ffffff;">The Profile Details belong to Admin User that sign into account.</h2>

      <input class="form-control-btn " id="SiginBtn" value="View Profile Details" (click)="ViewProfileDetails($event)" /> -->
    </div>
    <div class="Profile-Details" style="overflow:auto;">

        <p><b>Password: </b> <input style="margin-left:170px;width: 250px;" type="password" [(ngModel)]="Password" required class="form-control" name="Password" placeholder="Enter Password" /> </p>

        <p> <b>Confirm Password: </b><input style="margin-left:113px;width: 250px;" type="password" [(ngModel)]="ConfirmPassword" required class="form-control" name="ConfirmPassword" placeholder="Enter Confirm Password" /> </p>

    </div>

    <div style="text-align: right;">
        <input type="button" class="form-control-btn" style="width: 150px;" id="SiginBtn" value="Save Password" (click)="SavePassword($event)" />
    </div>
    <!-- this.ProfileDetails.accountId this.ProfileDetails.id this.ProfileDetails.staff -->
</div>
<app-spinner></app-spinner>
<router-outlet></router-outlet>