<div *ngIf="ShowClientLayout">
    <div #goUp>
        <app-app-header-views></app-app-header-views>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div>
        <app-app-footer-views></app-app-footer-views>
    </div>
</div>

<div *ngIf="ShowClientAdminLayout" [style.height.px]="heightScren">
    <div id="navbar" #goUp class="container_Header">
        <app-client-top></app-client-top>
    </div>

    <div class="container_Content-Stages"></div>

    <div class="container_Content" [style.height.px]="heightScren">
        <div class="Menu-Bar-Container" [style.height.px]="heightScren">
            <app-client-menu></app-client-menu>
        </div>

        <div class="Content-Container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- <app-sign-up-acct>
  </app-sign-up-acct> -->
<!-- <app-homepage></app-homepage> -->