<div *ngIf="success" class="backgroundCenter" style="top:300">
    <div *ngIf="success" style="margin-top:100px;text-align:center;">
        <p *ngIf="success">
            <img src="assets/images/{{imageName}}" width="80" height="80" />
        </p>
        <p *ngIf="success" style="font-size: 25px;font-weight: 800;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;">{{statusTitle}}</p>

        <p *ngIf="success" style="font-size: 19px;font-weight: 400;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;">{{statusMessge}}</p>

        <p *ngIf="success" style="font-size: 19px;font-weight: 400;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;">
            <a target="_blank" style="font-size: 17px;font-weight: 400;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;" href="{{LoginLink}}">Login to your account</a>
        </p>
    </div>
</div>
<app-spinner></app-spinner>
<router-outlet></router-outlet>