<div class="app-loan-preview-container">
    <div class="app-loan-preview-row">

        <div class="app-loan-row">
            <p>The element floats at the center. In-fact, now you can show anything at the center of the screen. Thanks</p>
            <p>The element floats at the center. In-fact, now you can show anything at the center of the screen. Thanks</p>
        </div>

        <div class="app-loan-row">
            <div class="app-loan-col-left">
                <div class="logo-and-title">
                    <span class="logo">
                    <a [routerLink]="['Home']" routerLinkActive="router-link-active">
                      <img src="../../assets/images/headerlogo.png" width="150" />
                    </a>
                  </span>
                    <span class="title">
                   LOAN APPLICATION & AGREEMENT FORM
                  </span>
                </div>
                <div class="office-and-loantype">
                    <div class="off-1">
                        <p class="off-1-p"><b>Head Office:</b> HeadOffice</p>
                        <p class="off-1-p"><b>Tel:</b> OfficePhoneNumber</p>

                        <p class="off-1-p" style="margin-top:25px;"><b>Lagos Address:</b> LagosHeadOffice</p>
                        <p class="off-1-p"><b>Tel:</b> OfficePhoneNumber</p>
                    </div>
                    <div class="off-1">
                        <div>
                            <p class="span-loan-type">SELECTED LOAN TYPE</p>
                        </div>
                        <div>
                            <p class="image-p span-loan-type-image">
                                <span class="empty-mark">
                             </span>
                                <span class="empty-mark-text">
                                NEW LOAN
                            </span>
                            </p>
                            <p class="image-p">
                                <span class="empty-mark span-loan-type-image-active">
                                <img src="../../assets/images/icons8-check-160.png" width="25" />
                              </span>
                                <span class="empty-mark-text">
                                TOP UP LOAN
                            </span>
                            </p>
                            <p class="image-p span-loan-type-image">
                                <span class="empty-mark">
                            </span>
                                <span class="empty-mark-text">
                             RENEWAL
                          </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-loan-col-right">
                <span class="logo">
              <a [routerLink]="['Home']" routerLinkActive="router-link-active">
                <img src="../../assets/images/username.jpeg" width="150" />
              </a>
            </span>
            </div>
        </div>

        <div class="app-loan-preview-row1">

            <div>
                <p>PLEASE COMPLETE ALL SECTIONS IN CAPITAL LETTERS, NOTE All FIELDS ARE REQUIRED</p>
            </div>

            <div class="box-No">
                <p>BVN</p>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                </ul>
            </div>

            <div class="box-No">
                <div class="box-no-p-left">
                    <span class="sp-head"><b>Organization/Office Address:</b></span>
                </div>
                <div class="box-no-p-right">
                    <span class="sp-value">NPE EBONYI COMM.</span>

                    <hr>
                </div>
            </div>

            <div class="box-No">
                <p>LOAN AGREEMENT BETWEEN LAPO MFB AND </p>
                <ul>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                    <li>1</li>
                </ul>
                <p style="text-align: left;">
                    <span style="margin-left: 5%;">SURNAME</span>
                    <span style="margin-left: 25%;">OTHER NAMES</span>
                </p>
            </div>

            <div class="box-No">
                <div class="box-left">
                    <span class="sp-head"><b>Oracle ID:</b></span>
                    <span class="sp-value">123456789</span>
                </div>

                <div class="box-center">
                    <div class="box-1-h">
                        <span class="sp-head"><b>EMPLOYMENT DATE:</b></span>
                    </div>
                    <div class="box-1-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-right">
                    <div class="box-1-h">
                        <span class="sp-head"><b>RETIREMENT DATE:</b></span>
                    </div>
                    <div class="box-1-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="box-No">
                <div class="box-no-p-left">
                    <span class="sp-head"><b>Home Address:</b></span>
                </div>
                <div class="box-no-p-right">
                    <span class="sp-value">NPE EBONYI COMM.</span>
                    <hr>
                </div>
            </div>

            <div class="box-No-line1">
                <div class="box-No-line1-left">
                    <div class="box-1-h">
                        <span class="sp-head"><b>DATE OF BIRTH:</b></span>
                    </div>
                    <div class="box-1-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-No-line1-center">
                    <div class="sp-head"><b>Sex:</b></div>
                    <div class="sp-value">123456789</div>
                </div>

                <div class="box-No-line1-right">
                    <div class="box-1-h">
                        <span class="sp-head"><b>PHONE NO:</b></span>
                    </div>
                    <div class="box-1-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-No-line1-center-last">
                    <div class="sp-head"><b>ALT PHONE NO:</b></div>
                    <div class="sp-value">123456789</div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row1">

            <div class="box-No-line2">
                <div class="box-No-line2-left">
                    <div class="box-1-h">
                        <span class="sp-head"><b>NO OF CHILDREN:</b></span>
                    </div>
                    <div class="box-1-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-No-line2-center">
                    <div class="sp-head"><b>Marital Status:</b></div>
                    <div class="sp-value">
                        <label>
                          <span>Single</span>
                          <input type="checkbox" checked="checked" value="" />
                      </label>
                    </div>
                    <div class="sp-value">
                        <label>
                          <span>Widowed</span>
                          <input type="checkbox" checked="checked" value="" />
                      </label>
                    </div>
                    <div class="sp-value">
                        <label>
                          <span>Divorced</span>
                          <input type="checkbox" checked="checked" value="" />
                      </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="app-loan-preview-row9">

            <div class="box-No-line9">

                <div class="box-No-line9-left">
                    <div class="sp-head"><b>Sex:</b></div>
                    <div class="sp-value">123456789</div>
                    <hr/>
                </div>

                <div class="box-No-line9-left-2">
                    <div class="sp-h">
                        <span class="sp-head"><b>ID NUMBER:</b></span>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-No-line9-left-2">
                    <div class="sp-h">
                        <span class="sp-h"><b>ID ISSUED DATE:</b></span>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>

                <div class="box-No-line9-left-2">
                    <div class="sp-h">
                        <span class="sp-h"><b>ID EXPIRED DATE:</b></span>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row10">

            <div class="box-No-line10">

                <div class="box-No-line10-left">
                    <div class="sp-h"><b>NEXT OF KIN INFORMATION:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row11">

            <div class="box-No-line11">

                <div class="box-No-line11-left">
                    <div class="sp-h"><b>NAME:</b></div>
                    <div class="sp-v">Okafor Nnamdi</div>
                    <hr/>
                </div>

                <div class="box-No-line11-left">
                    <div class="sp-h"><b>RELATION:</b></div>
                    <div class="sp-v">BROTHER</div>
                    <hr/>
                </div>

                <div class="box-No-line11-left">
                    <div class="sp-h"><b>PHONE NO:</b></div>
                    <div class="sp-v">BROTHER</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row10">

            <div class="box-No-line10">

                <div class="box-No-line10-left">
                    <div class="sp-h"><b>ADDRESS:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row10">

            <div class="box-No-line10">

                <div class="box-No-line10-left">
                    <div class="sp-h"><b>LOAN DETAILS:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row12">

            <div class="box-No-line12">
                <div class="box-No-line12-left">
                    <div class="sp-h">
                        <b>AMOUNT REQUESTED:</b>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
                <div class="box-No-line12-left">
                    <div class="sp-h"><b>IN WORDS:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row12">

            <div class="box-No-line12">
                <div class="box-No-line12-left">
                    <div class="sp-h">
                        <b>AMOUNT APPROVED:</b>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
                <div class="box-No-line12-left">
                    <div class="sp-h"><b>IN WORDS:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row13">
            <div class="box-No-line13">
                <div class="box-No-line13-left">
                    <div class="sp-h"><b>MONTHLY INSTALLMENTS:</b></div>
                    <div class="sp-v" style="margin-left: 24px;width: 30%;">123456789T
                        <hr/>
                    </div>

                </div>
                <div class="box-No-line13-left" style="margin-left: 3px;width: 20%;">
                    <div class="sp-h"><b>LOAN TENURE:</b></div>
                    <div class="sp-v">123456789T
                        <hr/>
                    </div>

                </div>
                <div class="box-No-line13-left" style="margin-left: 3px;width: 20%;">
                    <div class="sp-h"><b>INTEREST RATE:</b></div>
                    <div class="sp-v">
                        123456789T
                        <hr/>
                    </div>
                </div>
                <div class="box-No-line13-left" style="margin-left: 3px;width: 30%;">
                    <div class="sp-h">
                        <b>DISBURSMENT DATE:</b>
                    </div>
                    <div class="sp-v" style="margin-left: 0px;">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row14">

            <div class="box-No-line14">
                <div class="box-No-line14-left">
                    <div class="sp-h"><b>MONTHLY NETPAY:</b></div>
                    <div class="sp-v" style="margin-left: 24px;width: 30%;">123456789T
                        <hr/>
                    </div>
                </div>
                <div class="box-No-line14-left" style="margin-left: 3px;width: 60%;">
                    <div class="sp-h"><b>PAYMENT MODE   PAYROLL DEDUCTION:</b></div>
                    <div class="sp-v" style="width: 10%;">
                        <input type="checkbox">
                    </div>
                    <div class="sp-h" style="width: 20%;"><b>1% MGT FEE:</b></div>
                    <div class="sp-v" style="width: 10%;">
                        <input type="checkbox">
                    </div>
                    <div class="sp-h" style="width: 20%;"><b>UPFRONT INSURANCE</b></div>
                </div>

            </div>
        </div>

        <div class="app-loan-preview-row12">
            <div class="box-No-line12">
                <div class="box-No-line12-left" style="width: 30%;">
                    <div class="sp-h">
                        <b>ACCOUNT NUMBER:</b>
                    </div>
                    <div class="sp-v">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
                <div class="box-No-line12-left" style="width: 28%;">
                    <div class="sp-h"><b>BANK NAME:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>
                <div class="box-No-line12-left" style="width: 28%;">
                    <div class="sp-h"><b>ACCOUNT NAME:</b></div>
                    <div class="sp-v">123456789</div>
                    <hr/>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row15">
            <div class="box-No-line15">
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h"><b>PURPOSE OF LOAN:</b></div>
                    <div class="sp-v">123456789
                        <hr/>
                    </div>

                </div>
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h"><b>CLIENTS SIGNATURE:</b></div>
                    <div class="sp-v">123456789
                        <hr/>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row15">
            <div class="box-No-line15">
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h"><b>FOR OFFICE USE ONLY:</b></div>
                    <div class="sp-v">
                    </div>

                </div>
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h" style="color:white"><b>CLIENTS SIGNATURE:</b></div>
                    <div class="sp-v" style="color:white">123456789

                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row15">
            <div class="box-No-line15">
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h"><b>KYC BY RELATIONSHIP OFFICER:</b></div>
                    <div class="sp-v">
                    </div>

                </div>
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h" style="color:rgb(0, 0, 0)"><b>TEAM LEAD NAME, Signature Date:</b></div>
                    <div class="sp-v" style="color:rgb(0, 0, 0)">

                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row15">
            <div class="box-No-line15">
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h"><b>NAME, Signature Date:</b></div>
                    <div class="sp-v">
                        <hr>
                    </div>
                </div>
                <div class="box-No-line15-left" style="width: 45%;">
                    <div class="sp-h" style="color:rgb(0, 0, 0);width: 60%;"><b>FOR AND ON BEHALF OF LAPO MFB:</b></div>
                    <div class="sp-v" style="color:rgb(0, 0, 0);width: 1%;">


                    </div>
                </div>
            </div>
        </div>

        <div class="app-loan-preview-row16">
            <div class="box-No-line16">
                <div class="box-No-line16-left">
                    <div class="sp-h" style="margin-left: 24px;width: 30%;color: #fff;"><b>MONTHLY INSTALLMENTS:</b></div>
                    <div class="sp-v" style="margin-left: 24px;width: 30%;color: #fff;">123456789T

                    </div>
                </div>
                <input>
                <div class="box-No-line16-left" style="margin-left: 0px;width: 30%;">
                    <div class="sp-h">
                        <ul>
                            <li>ORACLE NUMBER</li>
                            <li>BVN</li>
                            <li>ID CARD</li>
                        </ul>
                    </div>
                    <div class="sp-v" style="margin-left: 0px;">
                        <ul>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                            <li>1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner></app-spinner>
<router-outlet></router-outlet>