* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Loanchart-title {
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Loanchart-title h2 {
    font-weight: 700;
    font-size: 19px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Loanchart-chatAcct {
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
}

.btn-btn-success {
    background-color: #f97c00;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 400px;
    border: 0px solid #f97c00;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.jumbotron p {
    color: red !important;
    font-size: 17px;
}

p div ul li a ol span h2 h3 h1 h2 h4 h5 h6 body html table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loan-list {
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.loan-list div {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loan-list div h2 {
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loan-list div table thead tr th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.loan-list div table tfoot tr th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.loan-list div table tbody tr td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loan-list .Profile-Details {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #94949426;
}

.loan-list .Profile-Details p {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-top: 1px;
    margin-bottom: 1px;
}

.loan-list div h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    color: #ea850b;
}

.loan-list div .form-control-btn {
    background-color: #f97c00;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #ffffff;
    width: 98%;
    border: 0px solid #f97c00;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 1rem;
    pointer-events: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    white-space: nowrap;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    appearance: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    opacity: 0.95;
    padding: 0px;
    background-image: linear-gradient(286deg, rgb(76, 160, 252) 23%, rgb(224, 47, 238) 76%);
    transition: all 0.3s ease 0s;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}